@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* ---------banner dots arrows */
.banner_slider {
    position: relative;
}

.banner_slider .slick-dots{
    display: flex !important;
    gap: 12px;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);

}


.banner_slider .slick-dots li button{
    width:8px;
    height: 8px;
    border: 1px solid #111827;
    border-radius: 50%;
    font-size: 0;

}
.banner_slider .slick-dots .slick-active button{
    background: #111827;
}

/* -----------------responsivebanner */
.resBanner {
    position: relative;
}

.resBanner .slick-dots{
    display: flex !important;
    gap: 12px;
    position: absolute;
    bottom: -180px;
    left: 20px;
    transform: translateX(-50%);

}


.resBanner .slick-dots li button{
    width:8px;
    height: 8px;
    border: 1px solid #111827;
    border-radius: 50%;
    font-size: 0;

}
.resBanner .slick-dots .slick-active button{
    background: #111827;
}


/* ---------------------slider exploring */



.exploring .slick-dots{
    display: flex !important;
    gap: 12px;
    justify-content: center;
  

}


.exploring .slick-dots li button{
    width:8px;
    height: 8px;
    background:  #11182780;
    border-radius: 50%;
    font-size: 0;

}
.exploring .slick-dots .slick-active button{
    background: #111827;
}


/* ----------------------Product slider */



.Product .slick-dots{
    display: flex !important;
    gap: 12px;
    justify-content: center;
  

}


.Product .slick-dots li button{
    width:8px;
    height: 8px;
    background:  #11182780;
    border-radius: 50%;
    font-size: 0;

}
.Product .slick-dots .slick-active button{
    background: #111827;
}
